# dependencies
node_modules/

# Next.js
.next/
out/

# environment
.env.local
.env*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev.out.log
dev.err.log

# system
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/

# coverage
coverage/

# temp
.tmp/
tmp/
.vercel
.env*
tsconfig.tsbuildinfo
